body {
 background-image: url(https://www.supermarketnews.com/sites/supermarketnews.com/files/istock25071766medium.jpg);
}
li {
    list-style: none;
    text-align: left;
    border: 1px solid beige;
    background: white;
}
.icono > span {
    font-size: 26px;
    visibility: hidden;
    
}
.icono:hover > span {
    visibility: visible;
    
}
  